body{
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
     align-items: center;
    color: black;
   
}
.container{
    height: 350px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
   
}
.flex{
    display: flex;
    justify-content: center;
}